.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.course {
  max-width: 300px;
  min-width: 250px;
  margin: 5px;
}

.example-header-image {
  background-image: url('/assets/images/linux.jpg');
  background-size: cover;
}