.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .header-section-container {
    height: 20vh;
  }
  
  /* .dashboard-section-container {
    height: 60vh;
  } */
  
  .footer-section.container {
    height: 12vh;
  }
  